
<div> 
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>                
            <tr>
                <td valign="top">                       
                    <table cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td style="background-color: rgb(40, 127, 169);" esd-custom-block-id="6340" bgcolor="#ffa73b" align="center">
                                    <table style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                  <h1>Hello {{ name }}!</h1>                                                        
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table style="background-color: transparent;" width="600" cellspacing="0" cellpadding="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td align="left">
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="600" valign="top" align="center">
                                                                    <table style="border-radius: 4px; border-collapse: separate; background-color: rgb(255, 255, 255);" width="100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td bgcolor="#ffffff" align="left">
                                                                                    <p>Project {{ projectName }} on Screens Digital Film was changed!</p>
                                                                                    <p>Please follow the link below and check the changes</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                  <span>
                                                                                    <a href={{ url }} target="_blank" style="border-width: 15px 30px;">
                                                                                         Go to the project {{ projectName }} on Screen Digital Films
                                                                                    </a>
                                                                                  </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <p>If that doesn't work, copy and paste the following link in your browser:</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                  <a target="_blank" href={{ url }}>{{ url }}</a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <p>If you have any questions, just reply to this email—we're always happy to help out.</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <p>Good luck!</p>                                                                                        
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
